* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    scroll-behavior: smooth;
}

.users-box {
    margin: auto 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.user-box {
    position: relative;
    width: 240px;
    padding: 12px;
    border: 1px solid black;
}

.cross {
    width: 14px;
    position: absolute;
    right: 8px;
    top: 8px;
}